@import 'base/variables.scss';
@import 'blocks/button';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/advantages';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/media';


* {
    font-family: 'Museo Sans Cyrl', sans-serif;
    line-height: 1;
}

.container {
    max-width: 990px;
    padding: 0 20px;
    margin: 0 auto;
}