.carousel {
    padding: 105px 0;

    .swiper-wrapper {
        width: 750px;
        margin: 0 auto;
        align-items: center;
    }

    .swiper {
        position: relative;
        padding-bottom: 20px;
    }

    .carousel__btn-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }

    .carousel__btn-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        z-index: 10;
    }




}