@media (max-width: 980px) {
    .promo {
        padding: 21px 0 50px;
        min-height: 550px;

        &__title {
            font-size: 35px;
            margin-bottom: 14px;
        }

        &__subtitle {
            font-size: 20px;
            margin-bottom: 40px;
        }
    }

    .advantages {
        &__items {
            gap: 30px;
        }
    }

    .carousel {
        padding: 60px 0;

        .carousel__btn-prev,
        .carousel__btn-next {
            display: none;
        }
    }

    .catalog {

        &__content {
            grid-template-columns: repeat(2, 300px);
            gap: 20px;
            justify-content: center;
        }
    }

    .footer {
        &__map {
            height: 450px;
        }

        &__info {
            padding: 25px;
            gap: 20px;
        }

        &__addr,
        &__phone {
            font-size: 16px;
        }
    }


}


@media (max-width: 768px) {
    .header {
        flex-direction: column;
        margin-bottom: 50px;
        gap: 20px;

        &__contacts {
            align-items: center
        }
    }

    .promo {
        &__wrp {
            align-items: center
        }
    }

    .title {
        margin-bottom: 40px;
    }

    .advantages {
        padding: 35px 0;

        &__items {
            gap: 15px;
        }

        &__img {
            margin-bottom: 20px;
        }

        &__item-title {
            font-size: 16px;
        }

        &__item-text {
            font-size: 12px;
        }
    }

    .consultation {
        padding: 55px 0;
        min-height: 500px;
    }

    .catalog {

        &__content {
            grid-template-columns: repeat(1, 300px);
        }
    }

    .reviews {

        &__item {
            gap: 30px;
            margin-bottom: 30px;
        }

        &__img {
            width: 100px;
            height: 100px;
        }
    }

    .reviews {
        &__item {
            gap: 15px;
            margin-bottom: 15px;
        }

        &__ {
            width: 80px;
            height: 80px;
        }

        &__name {
            font-size: 16px;
        }

        &__subtitle {
            font-size: 10px;
        }

        &__text {
            font-size: 12px;

            p {
                margin-bottom: 5px;
            }
        }

    }

    .footer {

        &__info {
            position: static;
            transform: translateX(0);
        }
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .header {
        gap: 10px;
        margin-bottom: 40px;

        &__logo {
            width: 200px;
        }
    }

    .promo {
        padding: 10px 0 30px;
        min-height: 440px;

        &__title {
            font-size: 26px;
        }

        &__subtitle {
            font-size: 16px;
            text-align: center;
        }

        &__items {
            gap: 20px;
            margin-bottom: 35px;
        }

        &__item {
            max-width: 80px;

            img {
                margin-bottom: 10px;
                width: 30px;
            }

            p {
                font-size: 8px;
            }
        }
    }

    .advantages {
        &__items {
            flex-direction: column;
            align-items: center;
        }
    }

    .catalog {
        padding-bottom: 20px;

        &__tabs {
            flex-wrap: wrap;
            margin-bottom: 20px;
            ;
        }
    }

    .footer {

        &__map {
            height: 350px;
        }

        &__social {
            gap: 15px;
        }
    }
}

@media (max-width: 440px) {
    .header {
        &__oficial {
            display: none;
        }

        &__phone {
            font-size: 14px;
        }
    }

    .promo {
        font-size: 24px;
    }

    .consultation {
        padding: 20px 0;
        min-height: 400px;

        &__text {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }

    .title {
        &_left {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }

    .carousel {
        padding: 30px 0;
    }

    .reviews {
        &__item {
            flex-wrap: wrap;
            margin-bottom: 25px
        }

        &__img {
            margin: 0 auto;
        }
    }

}